:root {
	--color-shadow: rgb(204 177 167 / 60%);
	--color-primary: #ff9e2f;
	--color-primary-bg: rgba(255, 177, 65, 0.15)
}
body {
	overflow-x: hidden;
}

#nexmoe-content .nexmoe-post-footer {
	background-color: transparent;
}

iframe {
	width: 100%!important;
}

article ul li {
    line-height: 1.5rem;
}